 .genesis_logo {
    font-family: 'Maven Pro', sans-serif;
 }

 .genesis_footer_button {
    font-size: .9rem;
 }

 .genesis_footer {
    text-align: center;
    margin-top: 2rem;
 }

 .genesis_header {
    text-align: center; margin: 2rem 0;
 }