 .genesis_logo {
    font-family: 'Maven Pro', sans-serif;
 }

 .genesis_footer_button {
    font-size: .9rem;
 }

 .genesis_footer {
    text-align: center;
    margin-top: 2rem;
 }

 .genesis_header {
    text-align: center; margin: 2rem 0;
 }

 @media screen and (max-width: 500px) {
     html {
         font-size: 13px;
     }
 }

 a {
    color: black;
 }

 a:link {
     color: black;
     text-decoration: none;
 }

 a:hover {
     color: black;
     text-decoration: none;
 }

 .genesis_header_nav {
     margin: 0 0.5rem;
 }

 .genesis_header_navbar {
     margin: 1rem 0;
 }